{% load i18n %}
<nav id="sidebar">
	<button class="buguer" onclick="handleSidebar()">
		<i id="fa-bars" class="fas fa-bars fa-lg" style="color:#fff"></i>
		<i id="fa-times-circle" class="fas fa-times-circle  fa-lg" style="color:#fff"> </i>
	</button>
	<ul>
		<li>
			<a href="{%url 'recipes:home'%}"> {% translate "Home" %}  </a>
			{% if request.path == '/' %} 
				<i class="fas fa-arrow-circle-left" style="color: #ffffff;"></i>
			{% endif %}
		</li>
		{% if request.user.is_authenticated %}
			<li>
				<a href="{%url 'authors:dashboard'%}"> {% translate "Dashboard" %}</a>
				{% if request.path == '/authors/dashboard/' %} 
					<i class="fas fa-arrow-circle-left" style="color: #ffffff;"></i>
				{% endif %}
			</li>
			<li>
				<a href="{%url 'authors:dashboard_recipe_new'%}"> {% translate "New recipe" %} </a>
				{% if request.path == '/authors/dashboard/recipe/new/' %} 
					<i class="fas fa-arrow-circle-left" style="color: #ffffff;"></i>
				{% endif %}
			</li>

			<li>
				{% include "authors/partials/logout.html" %}
			</li>

		{% else %}
			<li>
				<a href="{%url 'authors:register'%}">Register</a>
				{% if request.path == '/authors/register/' %} 
					<i class="fas fa-arrow-circle-left" style="color: #ffffff;"></i>
				{% endif %}
			</li>
			<li>
				<a href="{%url 'authors:login'%}">Login</a>
				{% if request.path == '/authors/login/' %} 
					<i class="fas fa-arrow-circle-left" style="color: #ffffff;"></i>
				{% endif %}
			</li>
		{% endif %}

	</ul>
</nav>