{% include 'recipes/partials/head.html' %}

<body>
  {% include 'recipes/partials/header.html' %}

  {% include 'recipes/partials/search.html' %}

  <main class="main-content-container">
    <div class="main-content main-content-list container">
      <div class="recipe recipe-list-item">
        <div class=" recipe-cover">
          <img
            src="https://images.unsplash.com/photo-1525059696034-4967a8e1dca2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1888&q=80"
            alt="recipe-title">
        </div>
        <h1>ola</h1>
      </div>


    </div>

  </main>

</body>

</html>