{% extends "global/base.html" %}

{% block title %}Dashboard ({{user}}){% endblock title %}

{% block content %}
	<div class="main-content container">
		<h2 class="text-center">Dashboard ({{user}})</h2>
		{% if request.user.is_authenticated %}
			<div style="margin-top:20px">
				<p class="text-center">Your are logged in with {{request.user.username}}.</p>
				<div class="text-center"> <span>Please to</span> {% include "authors/partials/logout.html" %}</div>
			</div>
		{% endif %}

	</div>
{% endblock content %}
		
