{% extends "global/base.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'authors/css/styles.css' %}">
{% endblock head %}

{% block title %}Dashboard Recipe{% endblock title %}

{% block content %}
	<div class="main-content container">
		<div class="authors-dashboard-container ">
			<a  href="{% url 'authors:dashboard' %}"><i class="fas fa-arrow-left"></i> Dashboard Home	</a>
			
		</div>

		
		<h2 class="text-center mt-2">Dashboard Recipe</h2>
		{% if request.user.is_authenticated %}
			<div style="margin-top:20px">
				<p class="text-center">Your are logged in with {{request.user.username}}.</p>
				<div class="text-center"> <span>Please to</span> {% include "authors/partials/logout.html" %}</div>
			</div>
		{% endif %}
		
		<div class="authors-dashboard-container">
			{% include "global/partials/form.html" %}
		</div>
	</div>
{% endblock content %}
		
