{% extends "global/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
	<link rel="stylesheet" href="{% static 'authors/css/styles.css' %}">
{% endblock head %}


{% block title %} {% translate "Dashboard" %} ({{user}}){% endblock title %}

{% block content %}
	<div class="main-content container">
		<h2 class="text-center">{% translate "Dashboard" %} ({{user}})</h2>
		{% if request.user.is_authenticated %}
			<div style="margin-top:20px">
				<p class="text-center"> {% translate "Your are logged in with" %} {{request.user.username}}.</p>
				<div class="text-center"> <span> {% translate "Please to" %} </span> {% include "authors/partials/logout.html" %}</div>
			</div>
		{% endif %}
		
		<div class="authors-dashboard-container">
			<div class="container-info">
				<div class="container-title">
					<h3> {% translate "Your Recipes" %}</h3>
					<span>total {{total_recipes}}</span>
				</div>
				<div>
					<a href="{%url 'authors:dashboard_recipe_new'%}"> {% translate "New recipe" %}</a>
				</div>
				
			</div>
			
			<ul class="list-recipes">
				<li>
					<div class="list-item-colmun">
						<span>ID</span>
					</div>
					<div class="list-item-colmun">
						<span> {% translate "TITLE" %}</span>
					</div>
					<div class="list-item-colmun">
						<span>DATA</span>
					</div>

					<div class="list-item-colmun">
						<span>{% translate "Actions" %}</span>
					</div>
				</li>
				{% for recipe in recipes  %}
					<li >
						<div class="list-item-colmun">
							<strong>#{{recipe.id}}</strong>
						</div>
						<div class="list-item-colmun">
							<a href="{% url "authors:dashboard_recipe_edit" recipe.id %}">{{recipe.title}}</a> 
						</div>
						<div class="list-item-colmun">
							<span class="recipe-author-item">
								<i class="fas fa-calendar-alt"></i>
								{{ recipe.created_at|date:"d/m/Y" }} ás {{ recipe.created_at|time:"H:i" }}
							</span>
						</div>
						<div class="list-item-colmun">
							<form id="form_recipe_delete" action="{% url 'authors:dashboard_recipe_delete'  %}" method="post" onsubmit="return validateForm_recipe_delete()">
								{% csrf_token %}
								<input type="hidden" name="id" value="{{recipe.id}}" />
								<button type="submit" class="btn btn-primary"><i class="fas fa-trash-alt fa-lg" style="color: #ff0000;"></i></button>
							</form>
						</div>

					</li>
				{%empty%}
					<li>
						<p> {% translate "You do not have recipes, please create one." %}</p>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock content %}


{% block scripts %}
	<script type="text/javascript" src="{% static 'authors/js/app.js' %}"></script>
{% endblock scripts %}
		
